<!DOCTYPE html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<html lang="en">
<head>
    <title>Stock Manager</title>
</head>
<body>
<style>
table, th, td {
    border: 1px solid black;
}
</style>

<table>
  <tr>
    <th>Resource</th>
    <th>Item Name</th>
  </tr>
  {% for stock in current_user.stock_list() %}
      <tr>
        <td>{{ stock.resource }}</td>
        <td>{{ stock.item_name }}</td>
        <td><button>Edit</button></td>
      </tr>
  {% endfor %}

</table>
<!--
    <form action="/updateStock">
        {% for stock in current_user.stock_list() %}
            <input name="resource" type="text" value="{{ stock.resource }}"">
            <input name="item_name" list="item_names" value="{{ stock.item_name }}">
            <br>
        {% endfor %}
        <input name="resource" type="text" >
        <input name="item_name" list="item_names">
        <br>

        <datalist id="item_names">
        {% for item_name in current_user.defined_items() %}
            <option value="{{item_name[0]}}">
        {% endfor %}
        </datalist>
    <input type="submit">
    </form>
'''
-->
</body>
</html>